{% extends 'base.html' %}
{% block content %}

<!-- {% load static %} -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <h1 style="color: #40916C; font-family: Amatic SC; font-weight: bolder;">About the Frog Collector</h1>
  <hr>
<div class="about" style="font-family: Amatic SC; font-size: x-large; font-weight: bold;">
  <h4>Welcome to the Frog Collector!</h4>
  <p>We are passionate about frogs and all things amphibian. Our website is a virtual haven where frog enthusiasts, collectors, and nature lovers can immerse themselves in the captivating world of these remarkable creatures. Whether you're a seasoned frog aficionado or simply captivated by the whimsical world of frogs, Frog Collector invites you to explore, discover, and celebrate these incredible creatures.</p>
</div>

<!-- <footer>All Rights Reserved, &copy; 2023 Frog Collector</footer> -->

{% endblock %}