{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Frog Collector</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper" style="background-color:#40916C;font-family: Amatic SC; font-size:xx-large;">
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Frog Collector</a></li>
        </ul>
        <ul class="right">
          <li><a href="{% url 'about' %}" style="font-size: xx-large;">About</a></li>
          <li><a href="{% url 'frogs_create' %}" style="font-size: xx-large;">Add Frog</a></li>
          <li><a href="{% url 'index' %}" style="font-size: xx-large;">Frogs</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">

    <div class="slideshow-container" style="margin:32px 32px 32px 32px; display:flex; justify-content: baseline;">
      <div>

      <!-- next button -->
        <a class="prev" onclick="plusSlides(-1)" style="margin: 15px">&#10094;</a>
      </div>
      <div>
          <!-- Full-width images  -->
          <div class="frog-slides fade">
            <img src="{% static 'frog1.jpeg' %}" style="width:100%">
            <div class="text"></div>
          </div>
          <div class="frog-slides fade">
            <img src="{% static 'frog2.jpeg' %}" style="width:100%">
            <div class="text"></div>
          </div>
          <div class="frog-slides fade">
            <img src="{% static 'frog3.jpeg' %}" style="width:100%">
            <div class="text"></div>
          </div>
          <div class="frog-slides fade">
            <img src="{% static 'frog4.jpeg' %}" style="width:100%">
            <div class="text"></div>
          </div>
          <div class="frog-slides fade">
            <img src="{% static 'frog5.jpeg' %}" style="width:100%">
            <div class="text"></div>
          </div> 
      </div>
      <div>
        <!-- previous button -->  
        <a class="next" onclick="plusSlides(1)" style="margin: 15px">&#10095;</a>
      </div>
         


  </div>
  <br>
          
  <div>
    <h3 style="font-family: Amatic SC; text-align: center;">Welcome to the frog collector! You can create, edit and delete all kinds of frogs on this site.</h3>
  </div>

  <!-- The dots/circles -->
  <!-- <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div> -->

    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer" style="background-color:#40916C">
    <div class="right">All Rights Reserved, &copy; 2023 Frog Collector &nbsp;</div>
  </footer>
</body>
<script defer>
  let slideIndex = 1;

  //This starts the slide show
  //on the first slide using
  //slideIndex above 
  showSlides(slideIndex);

  // Called when next or previous 
  //button gets pressed
  //calls showSlides below and
  //passes in slideIndex plus
  //whatever value it received,
  // plus or minus one
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  //when user clicks a slide,
  //calls showSlides and sets
  // the global variable
  //slideIndex to current index
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    let i;
    //fetches required objects
    let slides = document.getElementsByClassName("frog-slides");
    //let dots = document.getElementsByClassName("dot");

    //if n is 4, then resets to 1 (first slide)
    //previous next buttons can cause 
    //this condition 
    if (n > slides.length) {slideIndex = 1}


    //if n is -1, then resets to 3 (or last slide)
    //previous next buttons can cause 
    //this condition 
    if (n < 1) {slideIndex = slides.length}

    //hides all slides to start
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }

    //resets the dots' class name that have active 
    //to a zero-length string~
    //for (i = 0; i < dots.length; i++) {
    //  dots[i].className = dots[i].className.replace(" active", "");
    //}

    //changes the slide to show the appropriate slide
    slides[slideIndex-1].style.display = "block";
    
    //changes the dot to be active
    //dots[slideIndex-1].className += " active";

  } 
</script>
</html>