{% extends 'base.html' %}
{% block content %}

<h1 style="font-family: Amatic SC; font-size:xx-large;"">Frog List</h1>

{% for frog in frogs %}
  <div class="card">
    <a href="{% url 'detail' frog.id %}">
      <div class="card-content">
        <span class="card-title">{{ frog.name }}</span>
        <p>Breed: {{ frog.breed }}</p>
        <p>Description: {{ frog.description }}</p>
        {% if frog.age > 0 %}
          <p>Age: {{ frog.age }}</p>
        {% else %}
          <p>Age: Baby Froggie</p>
        {% endif %}
      </div>
    </a>
  </div>
  {% endfor %}
{% endblock %}